name: VS Code Extension Release
on:
  push:
    tags: ["*"]
  workflow_dispatch:
jobs:
  extension-release:
    name: Release Extension
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - run: npm ci
        working-directory: mdsf-vscode
      - name: Publish to VSCode
        working-directory: mdsf-vscode
        run: npx vsce publish --pat ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}
      - name: Publish OpenVSX
        working-directory: mdsf-vscode
        run: npx ovsx publish --pat ${{ secrets.OVSX_TOKEN }}
