---
name: Release crates.io package
on:
  push:
    tags: ["*"]
  workflow_dispatch:
jobs:
  release_cargo:
    name: Publish to cargo
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Publish to cargo
        run: cargo publish -p mdsf --verbose --locked --token ${{ secrets.CARGO_TOKEN }}
